# Caminho absoluto para o banco de dados
DB_PATH=/home/64BitsAcademy/plataforma_video_aula/database.db

# Chave secreta de sessão do Flask (mude para produção)
SECRET_KEY=uma-chave-muito-segura-e-secreta

# Credenciais Iniciais de Administrador
DEFAULT_ADMIN_NOME=Ornilio Neto
DEFAULT_ADMIN_USER=admin
DEFAULT_ADMIN_PASS=@Machado2025
